<!doctype html>
<html class="no-js" lang="en">

    <title>Teees</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/teees.css') }}">


<body>
  <h1 class="logo">teees</h1>
  

  <div class="tagline">
    <h2>Get fresh teees straight to your door every month</h2>
  </div>
  
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-1">
        <img src="{{ url_for('static', filename='img/placeholder.png') }}" alt="" class="img-responsive teee-img">
      </div>

      <div class="col-sm-6 content-col">
        <h2 class="shirt-name">July Teee</h2>
        <p>Your bones don't break, mine do. That's clear. Your cells react to bacteria and viruses differently than mine. You don't get sick, I do. That's also clear. But for some reason, you and I react the exact same way to water.</p>

        <p>We swallow it too fast, we choke. We get some in our lungs, we drown. However unreal it may seem, we are connected, you and I. We're on the same curve, just on opposite ends.</p>

        <div class="checkout-buttons">
          <form>
            <div class="row">
              <div class="col-xs-4">
                <select class="form-control input-lg size-select">
                  <option>Small</option>
                  <option selected>Medium</option>
                  <option>Large</option>
                  <option>XL</option>
                  <option>XXL</option>
                </select>
                <label>
                  <span>Size</span>
                  <a href="#" class="pull-right">
                    <span class="fa fa-question-circle"></span>
                  </a>
                </label>
              </div>

              <div class="col-xs-8">
                <button id="btn-pay" class="btn btn-success btn-block btn-lg btn-buy">Join now <small>$29/month</small></button>
                <label>
                  teee expires in <strong>4 days</strong>
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <hr />
  </div>

  
  <footer>
    <div class="container">
      <div class="col-md-10 col-md-offset-1">
        Made with <span class="fa fa-heart made-with-icon"></span> in <img src="{{ url_for('static', filename='img/sydney.png') }}" class="sydney" title="Sunny Sydney" />
      </div>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>



<script>
  var handler = StripeCheckout.configure({
    key: '{{ stripe_key }}',
    image: '/static/img/teees_icon.png',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#btn-pay').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Teees',
      description: '',
      currency: "aud",
      amount: 2000,
      billingAddress: true,
      shippingAddress: true
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>