<!doctype html>
<html class="no-js" lang="en">

    <title>Teees</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/teees.css') }}">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <section class="top-bar-section">
      <h1 class="logo">teees</h1>


      <!-- Right nav section -->
      <ul class="right">

      </ul>
    </section>
  </nav>



    <div class="homepage-shirt">
      <img src="{{ url_for('static', filename='img/teee1.png') }}">
    </div>
    <div class="buy-btn-large">
      <button id="btn-pay">Purchase</button>
      <p>Only 13 Left!</p>
    </div>

<script src="https://checkout.stripe.com/checkout.js"></script>



<script>
  var handler = StripeCheckout.configure({
    key: '{{ stripe_key }}',
    image: '/static/img/teees_icon.png',
    token: function(token) {
      // Use the token to create the charge with a server-side script.
      // You can access the token ID with `token.id`
    }
  });

  $('#btn-pay').on('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Teees',
      description: '',
      currency: "aud",
      amount: 2000,
      billingAddress: true,
      shippingAddress: true
    });
    e.preventDefault();
  });

  // Close Checkout on page navigation
  $(window).on('popstate', function() {
    handler.close();
  });
</script>


</html>